
html {
  box-sizing: border-box;
}
*,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
p,
div{
  margin-top:0;
  margin-bottom: 0;
}
ul{
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img{
  display: block;
  width: 100%;
  height: auto; 
}


.photo-what {
  list-style: none;
}
.visually{
  padding-bottom: 0;
}
.svg{
  padding: 0;
  margin: 0;
}
button{
  cursor: pointer;
  border: none;
}
:root {
  --card-set-gap: 24px;
  --brand-color: #4d5ae5;
  --brand-color-black: #2e2f42;
  --brand-color-white: #f8f8f8;
  --brand-color-black-text: #434455;
  --brand-color-white-text:#ffffff;
  --brand-color-white-background:#ffffff;
  --brand-color-white-background-color:#f4f4fd;
  --brand-color-blue: #404bbf;
  --brand-color-black-1: #000000;
  --brand-color-white-2: #e7e9fc;
  --brand-color-radius: #8E8F99;
  --brand-color-svg: #31D0AA;
  --brand-color-button: #404BBF;
  --brand-color-input: #4D5AE5;
  --brand-color-fill: #757575;
  --brand-color-gey:
}
/* body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color-black-1);
  margin: 0 auto;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list{
  list-style: none;
  padding-left: 0;
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}
.beginning {

  width: 100%;
  display: flex;
  background-color: var(--brand-color-white-background);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

.menu { 
  display: flex;
  flex-direction: row;
  color:var(--brand-color-black);
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  margin-top: auto;
  margin-left: 77px;

}
.mail {
  list-style: none;

}
.menu .link:hover,
.menu .link:focus {
  color: var(--brand-color-black-text);

}
.portfolio-link{
  position: relative;
  color:var(--brand-color-black);
  text-decoration: none;
  padding: 24px 0;
  display: inline-block;
  color: var(--brand-color);
}
.menu .link {
  position: relative;
  color:var(--brand-color-black);
  text-decoration: none;
  padding: 24px 0;
  display: inline-block;
}

.menu .link:active { 
  color: var(--brand-color);
}

.webStudio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  color: var(--brand-color-black);
  top: 24px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}
.navigation{
  display: flex;
  align-items: center;
}
.coddac{
  display: flex;
  align-items: center;
}

.contacts{
  display: flex;
  align-items: center;

  margin-left: auto;
}
.infodevstudio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--brand-color-black-text);
  text-decoration: none;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon:hover,
.icon:focus{
  fill:var(--brand-color);
}
.icon-envelop{
  display:inline-block;
  margin-left: 40px;

}
.icon-envelop:hover,
.icon-envelop:focus{
 fill:var(--brand-color);
}

.infodevstudio:hover,
.infodevstudio:focus {
  color:var(--brand-color);
}

.fone:hover,
.fone:focus {
  color:var(--brand-color);
}

.fone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 40px;
  
  letter-spacing: 0.02em;
  color:var(--brand-color-black-text);
  text-decoration: none;
}
.nemi {
  display: block;
  margin: auto;
  width: 1440px;
  flex-basis: calc(100% / 3);

}
.effective-solutions {
  background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7) ), url('../images/people-office1.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin: 0 auto;
  padding-top: 192px;
  padding-bottom: 192px;
  max-width: 1440px;
}

.effective-solutions-title {
  
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  
  margin-top: 0;
  
  color: var(--brand-color-white-text);
  text-align: center;
  
  
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.button-studio {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1875;
  display: block;
  margin-left: auto; 
  margin-right: auto;
  background:var(--brand-color);
 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 48px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--brand-color-white-text);
  width: 170px;
  height: 51px;
}
.button-studio:hover,
.button-studio:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
button .link:click {
  color: var(--brand-color-blue);
}
button .link:hover {
  color: var(--brand-color);
}
button .link:default {
  color: var(--brand-color);
}

.card-set {
  display: flex;
  gap: 24px;
}
.card-set-foto{
  display: flex;
  gap: 24px;
  margin-top: 72px;

}
.text-strategy, .text-foto-port{
  
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color-black);
  margin-top: 0;
  margin-bottom: 8px;
}

.card-set > .straegy,
.punctuality,
.diligence {
  flex-basis: calc(100% / 4);
}

.straegy,
.punctuality,
.diligence,
.technologies {
  width: 264px;
  list-style: none;
}
.straegy-title,
.punctuality-title,
.diligence-title,
.technologies-title {
  width: 264px;
  height: 72px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-black-text);
margin-top: 0;
margin-bottom: 0;
}

.ourprinciples-title {
  text-decoration: none;
}
.what-are-we-doing {
  gap: var(--card-set-gap);
  padding-bottom: 120px;
}
.foto-doing {
  display: flex;
  margin-top: 72px;
  gap: var(--card-set-gap);
}
.what-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color-black);
  margin-bottom: 0;
  margin-top: 0;
  
}
.auto-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.our-team {
  display: block;
  background-color: var(--brand-color-white-background-color);
 
  

}
.our-team-title {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color-black);
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  

  
}
.text-foto{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-black);
  margin-top: 32px;
  margin-bottom: 0;
}
.text-pr{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color:var(--brand-color-black-text);
  margin-top: 8px;
  margin-bottom: 0;
}
.item {
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  background:var(--brand-color-white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  
}

.lowerpart {
  background: var(--brand-color-black);
  border: 1px solid var(--brand-color-black-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction:row;
}
.lowerpart-block {
  display: inline-block;
  color: var(--brand-color-white-background-color);
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height:1,16;
}

.lowerpart-item {
  color: var(--brand-color);
  background: var(--brand-color-black);
}

.lowerpart-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  color: var(--brand-color-white-2);
  width: 264px;
  margin-bottom: 0;
  margin-top: 16px;
} */
@media screen and (max-width:480px) {
  .container {
      width: 396px;
      margin-left: auto;
      margin-right: auto;
    }
.menu,
.contacts{
  display: none;
}

}
@media screen and (min-width:480px) {
 .mobil-menu-open,
 .mobil-menu-container,
 .mobile-menu-clos-btn {
   display: none;
 }
}
@media screen and (max-width:768px) {
  .container {
    /* width: 736px; */
  }

  /* .mobil-menu-open,
  .mobil-menu-container,
  .mobile-menu-clos-btn {
    display: none;
  } */
}



@media screen and (min-width:1200px) {
  .container {
    width: 1158px;
  }
 .mobil-menu-open,
 .mobil-menu-container,
 .mobile-menu-clos-btn{
  display: none;
 }
  
}
/* Mobil */

@media (min-width:0px) and (max-width:479px) {
  .mobil-menu-open {
    height: 22px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }
.mobil-container{
  padding-top: 96px;
  padding-bottom: 104px;
  padding-left: 16px;
  padding-right: 16px;
}
  .coddac {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .beginning {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .mobil {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
  }
.webStudio{
display: flex;
flex-direction: row;
align-items: flex-start;
padding-left: 16px;
color: var(--brand-color-black);
top: 24px;
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 24px;
text-decoration: none;
}

.navigation-item {
  color: var(--brand-color);
}
  .mobil.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobil-menu-container {
    position: relative;
  }

  .mobile-menu-clos-btn {
    position: absolute;
    top: 40px;
    right: 24px;
    width: 24px;
    border-radius: 50%;
    background: var(--brand-color-white-2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 24px;
    padding: 0;
    margin: 0;

  }

  .menu-mobil {
    display: flex;
    flex-direction: column;
    color: var(--brand-color-black);
    align-items: flex-start;
    padding-top: 80px;
    padding-left: 24px;
    gap: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    list-style: none;
    margin-top: auto;
    text-decoration: none;

  }

  .link-mobil {
    text-decoration: none;
    color: var(--brand-color-blac);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .portfolio-link-mobil {
    text-decoration: none;
    color: var(--brand-color-blac);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

  }


  .menu-mobil .link-mobil:hover,
  .menu-mobil .link-mobil:focus {
    color: var(--brand-color-black-text);

  }

  .contacts-mobil {
    display: flex;
    flex-direction: column;
    margin-top: 284px;
    padding-left: 24px;
    list-style: none;
  }

  .fone-mobil {
    list-style: none;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    width: 337px;
    text-decoration: none;
    color: var(--brand-color)
  }

  .infodevstudio-mobil {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 40px;
    text-decoration: none;

    color: var(--brand-color-black-text)
  }

  .mail-mobil {
    margin-top: 40px;
  }

  .wardrobe-list-mobil {
    display: flex;
    gap: 56px;
    margin-top: 48px;
    padding-left: 24px;

  }

  .link-mobil {}

  .mobile-menu-clos-icon {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--brand-color-black-1);
    margin: auto;

  }

  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;

  }
.mobil-solution{
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office1.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin: 0 auto;
  padding-top: 182px;
  padding-bottom: 240px;
  
}
.mobil-solutions-title{
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-top: 0;
  color: var(--brand-color-white-text);
  text-align: center;
}
.mobil-button-studio{
  font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 72px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--brand-color-white-text);
    width: 169px;
    height: 56px;

}
.icon-styles{
  display: none;
}
.mobil-visually{
  padding-bottom: 0;
  padding-top: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.mobil-card-set{
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  list-style: none;
}
.mobil-text-strategy{
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  color: var(--brand-color-black);
  margin-top: 0;
  margin-bottom: 8px;

}
.mobil-straegy-title{
  font-size: 16px;
  line-height: 1.5;

}
.what-are-we-doing{
  display: none;
}
.mobil-our-team-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color-black);
  padding-bottom: 72px;
  margin-top: 0;
  margin-bottom: 0;
}
.our-team {
  padding: 0;
}
.mobil-our-team {
  display: block;
  background-color: var(--brand-color-white-background-color);

}
.tabl-wardrobe-list{
  display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}
.mobil-card-set-foto{
  display: flex;
  flex-direction: column;
  
  gap: 72px;
}
.mobil-text-foto{
  font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-color-black);
    margin-top: 32px;
    margin-bottom: 0;
}
.moil-text-pr{
font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-black-text);
  margin-top: 8px;
  margin-bottom: 0;
}
.mobil-title-icon{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  padding-bottom: 72px;
}

.mobil-customers{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: -72px;
  margin-left: -16px;
}
.mobil-cust-pan-icon{
  flex-basis: calc(100%/2 - 16px);
  width: 190px;
  justify-content: center;
  border: 0.5px solid var(--brand-color-radius);
  border-radius: 4px;
  fill: var(--brand-color-radius);
  margin-top: 72px;
  margin-left: 16px;

}
.customers-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--brand-color-radius);
}
.mobil-lowerpart-block{
    display: flex;
    justify-content: center;
    color: var(--brand-color-white-background-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1, 16;
   
}
.mobil-lowerpart{
  background: var(--brand-color-black);
  border: 1px solid var(--brand-color-black-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: row;
}
.mobil-lowerpart-title{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    color: var(--brand-color-white-2);
    width: 264px;
    margin-bottom: 0;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}
.mobil-footer-icon{
  width: 208px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;

}
.mobil-footer-title{
  display: flex;
  justify-content: center;
    Font-size: 16px;
      line-height: 2;
      color: var(--brand-color-white-background);
      margin-top: 0;
      margin-bottom: 0;
}
.mobil-footer-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;


}

.mobil-footer-title-icon {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 0;
}
.mobil-wardrobe-icon-svg-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mobil-wardrobe-icon-svg {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
.mobil-sobscribe-input{
  position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 72px;
    margin-left: auto;
    margin-right: auto;
}
.mobil-subscribe-title{
  display: flex;
  justify-content: center;
  font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    color: var(--brand-color-white-background);
}
.mobil-subscribe-form-field{
  width: 100%;
    /* height: 40px; */
    color: var(--brand-color-white-text);
    border: 1px solid rgba(255, 255, 255, 0.302);
    background: var(--brand-color-black);
    padding: 8px 8px 8px 16px;
    border-radius: 4px;
}
.mobil-subscribe-send{
    top: 0px;
    right: 0;
    width: 165px;
    height: 40px;
    color: var(--brand-color-white-text);
    padding: 8px 8px 8px 0;
    background-image: url(../images/iconsend.svg);
    object-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-position-x: 75%;
    background-position-y: 50%;
    border-radius: 4px;
    background-color: var(--brand-color-input);
    display: flex;

    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}
.mobil-subscribe-send-title{
  padding-left: 24px;
    display: flex;
  
}












}


/* Tabl */
@media (min-width: 480px) and (max-width: 1199px) {
  .beginning {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  .tabl-container{
    display: flex;
    justify-content: space-between;
  }
  .tabl-navigation {
    display: flex;
    align-items: center;
    
  }

  .tabl-webStudio {
    display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding-left: 16px;
      color: var(--brand-color-black);
      top: 24px;
      font-family: 'Raleway';
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
      text-decoration: none;
  }

  .tabl-menu {
    display: flex;
    margin-left: 120px;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color-black);
    text-decoration: none;
    list-style: none;

  }

  .tabl-link-port {
    position: relative;
    text-decoration: none;
    padding-bottom: 9px;
    color: var(--brand-color-blue);
  }

  .tabl-link-port::after {
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--brand-color);
    position: absolute;
    left: 0x;
    bottom: 100px;

  }

  .tabl-link {
    color: var(--brand-color-black);
    text-decoration: none;
  }

  .navigation-item {
    color: var(--brand-color);
  }
  .tabl-contacks{
    margin-left: 118px;
    padding-right: 16px;
  }

  .tabl-mail {
    list-style: none;
  }

  .tabl-fone {
    padding-top: 24px;
  }

  .tabl-fone,
  .tabl-infodevstudio {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    text-decoration: none;
    color: var(--brand-color-black-text);
    padding-top: 4px;
  }
.tabl-solution{
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office1.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 112px;
    padding-bottom: 204px;
}
.tabl-solutions-title{
  font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-top: 0;
    color: var(--brand-color-white-text);
    text-align: center;
}
.tabl-button-studio{
  font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: var(--brand-color);
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--brand-color-white-text);
    width: 169px;
    height: 56px;
}
.icon-styles {
  display: none;
}
.tabl-card-set{
    display: flex;
    flex-wrap: wrap;
    padding-top: 96px;
    padding-left: 16px;
    padding-right: 16px;
    list-style: none;
    margin-left: -24px;
    margin-top: -72px;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.tabl-visually{
  padding-bottom: 0;
    padding-top: 0;
}
.tabl-li{
  list-style: none;
  flex-basis: calc(100%/2 - 24px);
  margin-left: 24px;
  margin-top: 72px;

}
.tabl-text-strategy{
  font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--brand-color-black);
    display: flex;
    margin-top: 0;
    margin-bottom: 8px;
}
.tabl-straegy-title{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-black-text);
  margin-top: 0;
  margin-bottom: 0;
}
.what-are-we-doing{
  display: none;
}
.mobil-customers-section{
  padding: 0;
}
.tabl-container-photo{
  margin-top: 96px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 104px;
}
 .tabl-our-team-title{
 font-size: 36px;
 line-height: 1.11;
 text-align: center;
 letter-spacing: 0.02em;
 text-transform: capitalize;
 color: var(--brand-color-black);
 padding-top: 96px;
 padding-bottom: 72px;
 margin-top: 0;
 margin-bottom: 0;
}
.mobil-our-team{
  display: block;
  background-color: var(--brand-color-white-background-color);
  
}
.our-team{
  padding: 0;
}
.tabl-wardrobe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}
.tabi-card-set-foto{
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -64px;

  
  
}
.tabi-card-set-foto-item{
  flex-basis: calc(100%/2 - 24px);
  margin-left: 24px;
  margin-top: 64px;
}

.mobil-text-foto {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-black);
  margin-top: 32px;
  margin-bottom: 0;
}

.moil-text-pr {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-black-text);
  margin-top: 8px;
  margin-bottom: 0;
}
.tabl-title-icon {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 72px;
}
.tabl-container-customers{
  padding-left: 16px;
  padding-right: 16px;
}
.tabl-customers {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: -72px;
  margin-left: -16px;
}

.tabl-cust-pan-icon {
  flex-basis: calc(100%/3 - 16px);
  width: 168px;
  justify-content: center;
  border: 0.5px solid var(--brand-color-radius);
  border-radius: 4px;
  fill: var(--brand-color-radius);
  margin-top: 72px;
  margin-left: 16px;

}

.customers-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--brand-color-radius);
}
.mobil-lowerpart-block {
  display: inline-block;
  color: var(--brand-color-white-background-color);
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 16;

}

}










/* Disctop */
@media (min-width:1200px) {
.beginning {

    width: 100%;
    display: flex;
    background-color: var(--brand-color-white-background);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  
.coddac {
  display: flex;
  align-items: center;
}
.menu {
    display: flex;
    flex-direction: row;
    color: var(--brand-color-black);
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    list-style: none;
    margin-top: auto;
    margin-left: 77px;

  }
  section{
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {

    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .webStudio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    color: var(--brand-color-black);
    top: 24px;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
  }
.navigation-item {
  color: var(--brand-color);
}

  .mail {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color-black-text);

  }

  .menu .link:hover,
  .menu .link:focus {
    color: var(--brand-color-black-text);

  }

  .portfolio-link {
    position: relative;
    color: var(--brand-color-black);
    text-decoration: none;
    padding: 24px 0;
    display: inline-block;
    color: var(--brand-color);
  }

  .menu .link {
    position: relative;
    color: var(--brand-color-black);
    text-decoration: none;
    padding: 24px 0;
    display: inline-block;
  }

  .menu .link:active {
    color: var(--brand-color);
  }

  .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;

  }

  .infodevstudio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color-black-text);
    text-decoration: none;
  }

  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .icon:hover,
  .icon:focus {
    fill: var(--brand-color);
  }

  .icon-envelop {
    display: inline-block;
    margin-left: 40px;

  }

  .icon-envelop:hover,
  .icon-envelop:focus {
    fill: var(--brand-color);
  }

  .infodevstudio:hover,
  .infodevstudio:focus {
    color: var(--brand-color);
  }

  .fone:hover,
  .fone:focus {
    color: var(--brand-color);
  }

  .fone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 40px;

    letter-spacing: 0.02em;
    color: var(--brand-color-black-text);
    text-decoration: none;
  }
.effective-solutions {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office1.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin: 0 auto;
  padding-top: 192px;
  padding-bottom: 192px;
  max-width: 1440px;
}

.effective-solutions-title {

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  margin-top: 0;

  color: var(--brand-color-white-text);
  text-align: center;


  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.button-studio {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1875;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: var(--brand-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 48px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--brand-color-white-text);
  width: 170px;
  height: 51px;
}

.button-studio:hover,
.button-studio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

button .link:click {
  color: var(--brand-color-blue);
}

button .link:hover {
  color: var(--brand-color);
}

button .link:default {
  color: var(--brand-color);
}

.card-set {
  display: flex;
  gap: 24px;
}

.card-set-foto {
  display: flex;
  gap: 24px;
  margin-top: 72px;

}

.text-strategy,
.text-foto-port {

  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color-black);
  margin-top: 0;
  margin-bottom: 8px;
}

.card-set>.straegy,
.punctuality,
.diligence {
  flex-basis: calc(100% / 4);
}

.straegy,
.punctuality,
.diligence,
.technologies {
  width: 264px;
  list-style: none;
}

.straegy-title,
.punctuality-title,
.diligence-title,
.technologies-title {
  width: 264px;
  height: 72px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-black-text);
  margin-top: 0;
  margin-bottom: 0;
}

.ourprinciples-title {
  text-decoration: none;
}

.what-are-we-doing {
  gap: var(--card-set-gap);
  padding-bottom: 120px;
}

.foto-doing {
  display: flex;
  margin-top: 72px;
  gap: var(--card-set-gap);
}

.what-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color-black);
  margin-bottom: 0;
  margin-top: 0;

}

.auto-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.our-team {
  display: block;
  background-color: var(--brand-color-white-background-color);



}

.our-team-title {

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color-black);
  margin-top: 0;
  margin-bottom: 0;
}

.container {

  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;



}

.text-foto {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-black);
  margin-top: 32px;
  margin-bottom: 0;
}

.text-pr {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-black-text);
  margin-top: 8px;
  margin-bottom: 0;
}

.item {
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  background: var(--brand-color-white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

}

.lowerpart {
  background: var(--brand-color-black);
  border: 1px solid var(--brand-color-black-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
}

.lowerpart-block {
  display: inline-block;
  color: var(--brand-color-white-background-color);
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 16;
}

.lowerpart-item {
  color: var(--brand-color);
  background: var(--brand-color-black);
}

.lowerpart-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  color: var(--brand-color-white-2);
  width: 264px;
  margin-bottom: 0;
  margin-top: 16px;
}
.container-portfolio {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.main-portfolio {
  display: block;
  margin: auto;

}

.foto-work {
  display: flex;

  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.block-button {

  background: var(--brand-color-white-background-color);
}

.button-portfolio {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  background: var(--brand-color-white-background-color);
  color: var(--brand-color);
  border: 1px solid var(--brand-color-white-2);

  border-radius: 4px;
  padding: 8px 16px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  cursor: pointer;
  background: var(--brand-color);
  color: var(--brand-color-white-text);
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 2px 1px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
  border: 1px solid var(--brand-color);

}

.many {
  width: 1128px;
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.foto-text-title {

  display: inline-block;

  box-sizing: border-box;
  width: 360px;

  background: var(--brand-color-white-background);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.foto-text-title:hover,
.foto-text-title:focus {
  border: 0.5px solid var(-brand-color-white-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cartca {
  border-left: 0.5px solid var(--brand-color-white-background-color);
  border-right: 0.5px solid var(--brand-color-white-background-color);
  border-bottom: 0.5px solid var(--brand-color-white-background-color);
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.fototext-title {
  display: inline-block;
  width: 360px;
  height: 300px;
  margin: 0 24px;
  background-color: var(--brand-color);
  margin-bottom: px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;

}

.text-title {
  width: 296px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-white-background-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/*Marketing*/
.marketing {
  width: 1128px;
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/*Web Site*/
.web-site {
  width: 1128px;
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}

.text-port {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-black-text);
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.foto-portfolio {
  width: 360px;

}

.customers {
  display: flex;
  gap: 24px;
}

.customers-icon {
  display: flex;
  align-items: center;
  justify-content: center;

}

.customers-panei-icon {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 168px;
  height: 88px;


  gap: 24px;
  border: 0.5px solid var(--brand-color-radius);
  border-radius: 4px;
  fill: var(--brand-color-radius);
}

.customers-panei-icon:hover,
.customers-panei-icon:focus {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}

.icon-svg {
  fill: ;
}

.icon-styles {
  display: flex;
  gap: 24px;
}

.icon-styles-svg {
  width: 264px;
  height: 112px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--brand-color-white-background-color);
  border-radius: 4px;

}

.icon-svg-title {
  width: 32px;
  height: 32px;
  fill: var(--brand-color-white-background-color);

}

.icon-svg-close {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--brand-color-black-1);
}

.title-icon {
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 72px;
  margin-top: 0;
  text-align: center;
}

.wardrobe-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.wardrobe-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;


}

.wardrobe-title-icon {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 50%;
}

.wardrobe-icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.wardrobe-icon-svg-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-block {
  display: flex;
  flex-direction: column;
  width: 264px;
  margin-right: 0;
}

.footer-icon {
  width: 208px;
  margin-left: 120px;
}

.footer-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;


}

.footer-title-icon {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-title-icon:hover,
.footer-title-icon:focus {
  background-color: var(--brand-color-svg);
}

.footer-icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.footer-title {
  Font-size: 16px;
  line-height: 2;
  color: var(--brand-color-white-background);
  margin-top: 0;
  margin-bottom: 0;
}

.foto-work-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 164px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 1, 5;
  color: var(--brand-color-white-background-color);
  background-color: var(--brand-color);

}

.foto-work-link-wrapper {
  text-decoration: none;
}

.foto-work-link-wrapper:hover .overlay,
.foto-work-link-wrapper:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-link::after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  position: absolute;
  left: 0;
  bottom: 0;

}

.link:hover::after {
  opacity: 1;
}

.bakdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.bakdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.6);

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 408px;
  min-height: 576px;
  padding: 24px;
  padding-top: 72px;
  background-color: var(--brand-color-white-text);


}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: initial;
  border-radius: 50%;
  background: var(--brand-color-white-2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button:hover,
.modal-button:focus {
  outline: none;
  background: var(--brand-color-button);
  box-shadow: 0px 1px 6px var(--brand-color-button), 0px 1px 1px var(--brand-color-button), 0px 2px 1px var(--brand-color-button);
  fill: var(--brand-color-white-text);
}

input {

  display: flex;
  flex-direction: column;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
  padding-left: 38px;


}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

label {
  display: flex;
  flex-direction: column;



  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: left;

}

.checkbox-input {
  display: flex;
  flex-direction: initial;
}

.modal-p {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.modal-title {

  color: var(--brand-color-fill);

}

.modal-form-input-desc {
  position: relative;
  margin-bottom: 4px;
  margin-top: 8px;

}

.icon-svg-modal {
  position: absolute;
  left: 19px;
  top: 55%;
}

.modal-form {
  position: relative;
  color: var(--brand-color-radius);
}

.icon-svg-modal-phon {
  position: absolute;
  left: 43px;
  top: 226px;
}

.icon-svg-modal-email {
  position: absolute;
  left: 43px;
  top: 290px;
}

.modal-form-field {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-field:focus {
  outline: none;
  border: 1px solid var(--brand-color-input);

}

.modal-form-field:focus+.icon-svg-modal {
  fill: var(--brand-color-input);
}

.modal-form-field-texterea {
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 100px;
  padding: 8px 16px;

}

.modal-form-field-texterea:focus {
  border: 1px solid var(--brand-color-input);
}

.modal-send {
  display: block;
  text-align: center;
  background-color: var(--brand-color-input);
  color: var(--brand-color-white-text);
  border-radius: 4px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 169px;
  height: 56px;
}

.modal-send:hover,
.modal-send:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--brand-color-input);
  margin-left: 5px;
}

.checbox-p {
  font-size: 12px;
  line-height: 1.33;

}

.checkbox-input-lable {
  display: flex;
  flex-direction: initial;
  align-items: center;
  margin-top: 16px;


}

.checkbox-input-lable::before {
  content: " ";
  display: block;
  border: 1.25px solid var(--brand-color-black);
  border-radius: 2px;
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-right: 8px;

}

.modal-form-check:checked+.checkbox-input-lable::before {
  background-image: url(../images/clic1.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  background-color: var(--brand-color-button);
  border: 1.25px solid var(--brand-color-button);
  /* box-shadow: inset 0 0 0 2px rgb(255, 255, 255); */
}
/* portfolio */
.container-portfolio {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.main-portfolio {
  display: block;
  margin: auto;

}

.foto-work {
  display: flex;

  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.block-button {

  background: var(--brand-color-white-background-color);
}

.button-portfolio {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  background: var(--brand-color-white-background-color);
  color: var(--brand-color);
  border: 1px solid var(--brand-color-white-2);

  border-radius: 4px;
  padding: 8px 16px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  cursor: pointer;
  background: var(--brand-color);
  color: var(--brand-color-white-text);
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 2px 1px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
  border: 1px solid var(--brand-color);

}

.many {
  width: 1128px;
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.foto-text-title {

  display: inline-block;

  box-sizing: border-box;
  width: 360px;

  background: var(--brand-color-white-background);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.foto-text-title:hover,
.foto-text-title:focus {
  border: 0.5px solid var(-brand-color-white-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cartca {
  border-left: 0.5px solid var(--brand-color-white-background-color);
  border-right: 0.5px solid var(--brand-color-white-background-color);
  border-bottom: 0.5px solid var(--brand-color-white-background-color);
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.fototext-title {
  display: inline-block;
  width: 360px;
  height: 300px;
  margin: 0 24px;
  background-color: var(--brand-color);
  margin-bottom: px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;

}

.text-title {
  width: 296px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-white-background-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/*Marketing*/
.marketing {
  width: 1128px;
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/*Web Site*/
.web-site {
  width: 1128px;
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}

.text-port {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-black-text);
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.foto-portfolio {
  width: 360px;

}

.customers {
  display: flex;
  gap: 24px;
}

.customers-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--brand-color-radius);
}

.customers-panei-icon {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 168px;
  height: 88px;


  gap: 24px;
  border: 0.5px solid var(--brand-color-radius);
  border-radius: 4px;
  fill: var(--brand-color-radius);
}

.customers-panei-icon:hover,
.customers-panei-icon:focus {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}

.icon-svg {
  fill: ;
}

.icon-styles {
  display: flex;
  gap: 24px;
}

.icon-styles-svg {
  width: 264px;
  height: 112px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--brand-color-white-background-color);
  border-radius: 4px;

}

.icon-svg-title {
  width: 32px;
  height: 32px;
  fill: var(--brand-color-white-background-color);

}

.icon-svg-close {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--brand-color-black-1);
}

.title-icon {
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 72px;
  margin-top: 0;
  text-align: center;
}

.wardrobe-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.wardrobe-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;


}

.wardrobe-title-icon {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 50%;
}

.wardrobe-icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.wardrobe-icon-svg-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-block {
  display: flex;
  flex-direction: column;
  width: 264px;
  margin-right: 0;
}

.footer-icon {
  width: 208px;
  margin-left: 120px;
}

.footer-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;


}

.footer-title-icon {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-title-icon:hover,
.footer-title-icon:focus {
  background-color: var(--brand-color-svg);
}

.footer-icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.footer-title {
  Font-size: 16px;
  line-height: 2;
  color: var(--brand-color-white-background);
  margin-top: 0;
  margin-bottom: 0;
}

.foto-work-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 164px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 1, 5;
  color: var(--brand-color-white-background-color);
  background-color: var(--brand-color);

}

.foto-work-link-wrapper {
  text-decoration: none;
}

.foto-work-link-wrapper:hover .overlay,
.foto-work-link-wrapper:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-link::after {
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  position: absolute;
  left: 0;
  bottom: 0;

}

.link:hover::after {
  opacity: 1;
}
.sobscribe-input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 453px;
  height: 80px;
  margin-left: 80px;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color-white-background);
}

.subscribe-form-field {
  width: 264px;
  height: 40px;
  color: var(--brand-color-white-text);
  border: 1px solid rgba(255, 255, 255, 0.302);
  background: var(--brand-color-black);
  padding: 8px 8px 8px 16px;
  border-radius: 4px;
}

.subscribe-send {
  /* position: absolute; */
  top: 40px;
  right: 0;
  width: 165px;
  height: 40px;
  color: var(--brand-color-white-text);
  padding: 8px 8px 8px 0;
  background-image: url(../images/iconsend.svg);
  object-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-position-x: 75%;
  background-position-y: 50%;
  border-radius: 4px;
  background-color: var(--brand-color-input);
  margin-left: 24px;
}

.subscribe-send-title {
  padding-left: 24px;
  display: flex;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
}
.sobscribe-input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 453px;
  height: 80px;
  margin-left: 80px;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: var(--brand-color-white-background);
}

.subscribe-form-field {
  width: 264px;
  height: 40px;
  color: var(--brand-color-white-text);
  border: 1px solid rgba(255, 255, 255, 0.302);
  background: var(--brand-color-black);
  padding: 8px 8px 8px 16px;
  border-radius: 4px;
}

.subscribe-send {
  /* position: absolute; */
  top: 40px;
  right: 0;
  width: 165px;
  height: 40px;
  color: var(--brand-color-white-text);
  padding: 8px 8px 8px 0;
  background-image: url(../images/iconsend.svg);
  object-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-position-x: 75%;
  background-position-y: 50%;
  border-radius: 4px;
  background-color: var(--brand-color-input);
  margin-left: 24px;
}

.subscribe-send-title {
  padding-left: 24px;
  display: flex;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
}

}


/* .lowerpart {
  background: var(--brand-color-black);
  border: 1px solid var(--brand-color-black-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
} */
.item {
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  background: var(--brand-color-white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

}
.wardrobe-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.wardrobe-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;


}
.wardrobe-title-icon {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 50%;
}

.wardrobe-icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
.bakdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}
.bakdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.6);

}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 408px;
  min-height: 576px;
  padding: 24px;
  padding-top: 72px;
  background-color: var(--brand-color-white-text);
  
  
}
.modal-button{
  position: absolute;
  top:24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: initial;
  border-radius: 50%;
  background: var(--brand-color-white-2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-button:hover,
.modal-button:focus{
  outline: none;
  background: var(--brand-color-button);
box-shadow: 0px 1px 6px var(--brand-color-button), 0px 1px 1px var(--brand-color-button), 0px 2px 1px var(--brand-color-button);
fill: var(--brand-color-white-text);
}

input {

  display: flex;
  flex-direction: column;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
  padding-left: 38px;
  
  
}
textarea::placeholder{
  color: rgba(117, 117, 117, 0.5);
}
label {
  display: flex;
  flex-direction: column;
  
  
  
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: left;

}
.checkbox-input{
  display:flex ;
  flex-direction: initial;
}
.modal-p{
  display:flex;
  justify-content: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.modal-title{
  
  color: var(--brand-color-fill);
  
}
.modal-form-input-desc{
  position: relative;
  margin-bottom: 4px;
  margin-top: 8px;
  
}
.icon-svg-modal{
  position: absolute;
  left: 19px;
  top: 55%;
}
.modal-form{
   position: relative;
   color: var(--brand-color-radius);
}
.icon-svg-modal-phon{
  position: absolute;
  left: 43px;
    top: 226px;
}
.icon-svg-modal-email{
  position: absolute;
    left: 43px;
    top: 290px;
}
.modal-form-field{
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-form-field:focus{
 outline: none;
  border: 1px solid var(--brand-color-input);
  
}
.modal-form-field:focus+.icon-svg-modal{
  fill: var(--brand-color-input);
}
.modal-form-field-texterea{
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 100px;
  padding: 8px 16px;
  
}
.modal-form-field-texterea:focus{
  border: 1px solid var(--brand-color-input);
}
.modal-send{
  display: block;
  text-align: center;
  background-color: var(--brand-color-input);
  color: var(--brand-color-white-text);
  border-radius: 4px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 169px;
  height: 56px;
}
.modal-send:hover,
.modal-send:focus{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-link{
  font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: var(--brand-color-input);
    margin-left: 5px;
}
.checbox-p{
  font-size: 12px;
  line-height: 1.33;
  
}
.checkbox-input-lable{
  display: flex;
  flex-direction: initial;
  align-items: center;
  margin-top: 16px;
  
  
}
.checkbox-input-lable::before{
  content:" " ;
  display: block;
  border: 1.25px solid var(--brand-color-black);
  border-radius: 2px;
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-right: 8px;

}
.modal-form-check:checked + .checkbox-input-lable::before{
  background-image: url(../images/clic1.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align:center ;
   background-color: var(--brand-color-button);
  border: 1.25px solid var(--brand-color-button);
 /* box-shadow: inset 0 0 0 2px rgb(255, 255, 255); */
}
.modal-form-check:focus+.checkbox-input-lable::before {
  outline: none;
  outline: 1.25px solid var(--brand-color-button);
} 
.lowerpart-item {
  color: var(--brand-color);
  background: var(--brand-color-black);
}
